.header{
    background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  flex: auto;
  justify-content: space-between
}
img{
    width: 32px;
    height: 32px;
}
ul{
    list-style-type: none;
  margin: o;
  padding: 0;
  gap: 6px;
}
.right, .left{
    display: flex;
    align-items: center;
    gap: 16px;
  }