html{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(215, 250, 232);
  padding: 0%;
  display:flex; 
  flex-direction:column;
  justify-content:center;
  flex-wrap: wrap;
  height: 100%;
  margin: 0;
}
.container{
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.41);
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.content, .right{
  margin: 15px;
  padding: 20px;
}
.content, .left{
  margin: 22px;
  padding: 20px;
}
img {
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
ul{
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 10px;
  gap: 6px;
  text-decoration: none;
}
ul .menu-lin{
  text-decoration: none;
}
.content{
  background-color: rgb(255, 145, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.tex{
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.tex .random{
  justify-content: center;
  align-items: center;
  margin: 0;
}
.footer{
  background-color: rgb(205, 225, 255);
  padding: 0;
  margin: 0;
}
.call{
  background-color: rgb(0, 85, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  margin: 72px;
}
.copyright{
  background-color: rgba(0, 0, 0, 0.497);
  display: flex;
  justify-content: center;
  align-items: center;
  
}