.header{
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  flex: auto;
  justify-content: space-between
}
img{
    width: 72px;
    height: 72px;
    padding: 10px;
}
ul{
  list-style-type: none;
  margin: o;
  padding: 0;
  gap: 6px;
  flex-direction: row;
}
.content{
  background-color: aqua;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.content, p{
  padding: 22px;
}